{% extends 'base.html.twig' %}

{% block body %}

<div class="sigma_banner banner-3">

    <!-- Custom Arrows Start -->
    <div class="sigma_arrows sigma_arrows-transparent">
        <div class="sigma_round-arrow prev-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="125px" height="125px" viewBox="0 0 197 197" enable-background="new 0 0 197 197" xml:space="preserve">
          <circle class="sigma_round-arrow-stroke" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
                <circle class="sigma_round-arrow-circle" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
        </svg>
            <i class="far fa-arrow-left slick-arrow slider-prev"></i>
        </div>
        <div class="sigma_round-arrow next-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="125px" height="125px" viewBox="0 0 197 197" enable-background="new 0 0 197 197" xml:space="preserve">
          <circle class="sigma_round-arrow-stroke" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
                <circle class="sigma_round-arrow-circle" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
        </svg>
            <i class="far fa-arrow-right slick-arrow slider-next"></i>
        </div>
    </div>
    <!-- Custom Arrows End -->

    <div class="sigma_banner-slider">

        <!-- Banner Item Start -->
        <div class="light-bg sigma_banner-slider-inner bg-cover bg-center bg-norepeat dark-overlay" style="background-image: {{ asset('template/assets/img/banner/3.jpg')}};">
            <div class="sigma_banner-text">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h4 class="text-white">Campa The Best Camping Co.</h4>
                            <h1 class="title text-white">The Best Camping Ever</h1>
                            <p>Camping is an outdoor activity involving overnight stays away from home with or without a shelter, such as a tent or a recreational vehicle.</p>
                            <div class="section-button d-flex align-items-center">
                                <a href="about-us.html" class="sigma_btn-custom">About Company </a>
                                <a href="contact-us.html" class="ml-3 sigma_btn-custom secondary">Get a Quote </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Item End -->

        <!-- Banner Item Start -->
        <div class="light-bg sigma_banner-slider-inner bg-cover bg-center bg-norepeat dark-overlay" style="background-image: {{ asset('template/assets/img/banner/2.jpg')}};">
            <div class="sigma_banner-text">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h4 class="text-white">Campa The Best Camping Co.</h4>
                            <h1 class="title text-white">The World Around Us</h1>
                            <p>Camping is an outdoor activity involving overnight stays away from home with or without a shelter, such as a tent or a recreational vehicle.</p>
                            <div class="section-button d-flex align-items-center">
                                <a href="about-us.html" class="sigma_btn-custom">About Company </a>
                                <a href="contact-us.html" class="ml-3 sigma_btn-custom secondary">Get a Quote </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Item End -->

    </div>

</div>
<!-- Banner End -->

<!-- About start -->
<section class="section">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-4 d-none d-lg-block">
                <img src="{{ asset('template/assets/img/about.jpg')}}" alt="service">
            </div>
            <div class="col-lg-8">
                <div class="mr-lg-30">
                    <div class="section-title text-left">
                        <p class="subtitle">01 --- About Us</p>
                        <h4 class="title">Find your next short break</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-lg-30">
                            <p>
                                Camping is an outdoor activity involving overnight stays away from home with or without a shelter, such as a tent or a recreational vehicle Typically participants leave developed areas to spend time outdoors in more natural ones in pursuit of activities.
                            </p>
                            <p>
                                Providing them enjoyment The night or more spent outdoors distinguishes camping.
                            </p>

                            <a href="#" class="sigma_btn-custom">Learn More</a>
                        </div>
                        <div class="col-lg-6">
                            <div class="sigma_box sigma_box-lg m-0 sigma_box-progress">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="sigma_round-button sm">
                                        <span> <b class="counter" data-from="0" data-to="75">0</b> <span class="custom-primary">%</span> </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 197 197" enable-background="new 0 0 197 197" xml:space="preserve">
                        <circle class="sigma_round-button-stroke" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
                                            <circle class="sigma_progress-round sigma_round-button-circle" data-to="290" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
                      </svg>
                                    </div>
                                    <h6 class="mb-0 ml-3">Camping</h6>
                                </div>
                                <p>Camping day-tripping, picnicking, and other similarly short-term recreational activities.</p>
                                <a href="#" class="btn-link">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- About end -->

<!-- Work Start -->
<div class="section pb-0">

    <div class="spacer spacer-lg light-bg"></div>

    <div class="container">

        <div class="section-title text-center">
            <p class="subtitle">02 --- Our Accomodations</p>
            <h4 class="title">Choose Accomodation</h4>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="sigma_portfolio-item style-6">
                    <img src="{{ asset('template/assets/img/projects/style-2/1.jpg')}}" alt="portfolio">
                    <div class="sigma_portfolio-item-content">
                        <div class="sigma_portfolio-item-content-inner">
                            <h5> <a href="camp-location.html"> Small Tent-Max 2 People <i class="fal fa-arrow-right"></i> </a> </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_portfolio-item style-6">
                    <img src="{{ asset('template/assets/img/projects/style-2/2.jpg')}}" alt="portfolio">
                    <div class="sigma_portfolio-item-content">
                        <div class="sigma_portfolio-item-content-inner">
                            <h5> <a href="camp-location.html"> Medium Pitch-Pet Allowed <i class="fal fa-arrow-right"></i> </a> </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_portfolio-item style-6">
                    <img src="{{ asset('template/assets/img/projects/style-2/3.jpg')}}" alt="portfolio">
                    <div class="sigma_portfolio-item-content">
                        <div class="sigma_portfolio-item-content-inner">
                            <h5> <a href="camp-location.html"> Big Carvan For Your Faimly <i class="fal fa-arrow-right"></i> </a> </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Work End -->

<!-- Services Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section-title text-center">
            <p class="subtitle">03 --- Services</p>
            <h4 class="title">What We Do</h4>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <a href="service-details.html" class="sigma_service style-5">
                    <i class="flaticon-camping-tent"></i>
                    <div class="sigma_service-body">
                        <span>Campa Services</span>
                        <h5>Shaded Pitches</h5>
                        <span class="sigma_service-link"> <i class="far fa-plus"></i> </span>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="service-details.html" class="sigma_service style-5">
                    <i class="flaticon-bonfire"></i>
                    <div class="sigma_service-body">
                        <span>Campa Services</span>
                        <h5>Coffee Bar</h5>
                        <span class="sigma_service-link"> <i class="far fa-plus"></i> </span>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="service-details.html" class="sigma_service style-5">
                    <i class="flaticon-caravan"></i>
                    <div class="sigma_service-body">
                        <span>Campa Services</span>
                        <h5>Free Parking</h5>
                        <span class="sigma_service-link"> <i class="far fa-plus"></i> </span>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <a href="service-details.html" class="sigma_service style-5">
                    <i class="flaticon-wood-house"></i>
                    <div class="sigma_service-body">
                        <span>Campa Services</span>
                        <h5>Restaurant</h5>
                        <span class="sigma_service-link"> <i class="far fa-plus"></i> </span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- Services End -->

<!-- Camp Locations Start -->
<div class="section light-bg sigma_portfolio-section">
    <div class="container">

        <div class="section-title text-left">
            <p class="subtitle">04 --- Portfolio</p>
            <h4 class="title">Awesome Camp Locations</h4>
        </div>

        <div class="sigma_portfolio-slider">

            <div class="portfolio-item">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section">
                            <div class="section-title sm text-left">
                                <p class="subtitle">Camping, Adventure</p>
                                <h4 class="title">Cooking</h4>
                            </div>
                            <p>
                                Camping as a recreational activity became popular among elites in the early 20th century With time, it grew in popularity among other socioeconomic classes Modern campers frequent publicly owned natural resources such as national and state parks, wilderness areas, and commercial.
                            </p>
                            <p> <span><b>Time Duration: </b> 6 months</span> <span class="d-inline-block ml-2"><b>Author: </b> Miranda H.</span> </p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img src="{{ asset('template/assets/img/projects/lg/1.jpg')}}" alt="portfolio">
                    </div>
                </div>
            </div>

            <div class="portfolio-item">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section">
                            <div class="section-title sm text-left">
                                <p class="subtitle">Camping, Adventure</p>
                                <h4 class="title">Hikeing</h4>
                            </div>
                            <p>
                                Camping as a recreational activity became popular among elites in the early 20th century With time, it grew in popularity among other socioeconomic classes Modern campers frequent publicly owned natural resources such as national and state parks, wilderness areas, and commercial.
                            </p>
                            <p> <span><b>Time Duration: </b> 3 months</span> <span class="d-inline-block ml-2"><b>Author: </b> Miranda H.</span> </p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img src="{{ asset('template/assets/img/projects/lg/2.jpg')}}" alt="portfolio">
                    </div>
                </div>
            </div>

            <div class="portfolio-item">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section">
                            <div class="section-title sm text-left">
                                <p class="subtitle">Camping, Adventure</p>
                                <h4 class="title">Fishing</h4>
                            </div>
                            <p>
                                Camping as a recreational activity became popular among elites in the early 20th century With time, it grew in popularity among other socioeconomic classes Modern campers frequent publicly owned natural resources such as national and state parks, wilderness areas, and commercial.
                            </p>
                            <p> <span><b>Time Duration: </b> 2 months</span> <span class="d-inline-block ml-2"><b>Author: </b> Miranda H.</span> </p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img src="{{ asset('template/assets/img/projects/lg/3.jpg')}}" alt="portfolio">
                    </div>
                </div>
            </div>

            <div class="portfolio-item">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section">
                            <div class="section-title sm text-left">
                                <p class="subtitle">Camping, Adventure</p>
                                <h4 class="title">Singing</h4>
                            </div>
                            <p>
                                Camping as a recreational activity became popular among elites in the early 20th century With time, it grew in popularity among other socioeconomic classes Modern campers frequent publicly owned natural resources such as national and state parks, wilderness areas, and commercial.
                            </p>
                            <p> <span><b>Time Duration: </b> 1 months</span> <span class="d-inline-block ml-2"><b>Author: </b> Miranda H.</span> </p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img src="{{ asset('template/assets/img/projects/lg/4.jpg')}}" alt="portfolio">
                    </div>
                </div>
            </div>

        </div>

        <!-- Custom Arrows Start -->
        <div class="sigma_arrows sigma_arrows-transparent sigma_arrows-dark mb-lg-30">
            <div class="sigma_round-arrow prev-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="125px" height="125px" viewBox="0 0 197 197" enable-background="new 0 0 197 197" xml:space="preserve">
            <circle class="sigma_round-arrow-stroke" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
                    <circle class="sigma_round-arrow-circle" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
          </svg>
                <i class="far fa-arrow-left slick-arrow slider-prev"></i>
            </div>
            <div class="sigma_round-arrow next-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="125px" height="125px" viewBox="0 0 197 197" enable-background="new 0 0 197 197" xml:space="preserve">
            <circle class="sigma_round-arrow-stroke" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
                    <circle class="sigma_round-arrow-circle" stroke-linecap="round" cx="98.5" cy="98.6" r="97.5"></circle>
          </svg>
                <i class="far fa-arrow-right slick-arrow slider-next"></i>
            </div>
        </div>
        <!-- Custom Arrows End -->

    </div>
</div>
<!-- Camp Locations End -->

<!-- Team Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section-title text-center">
            <p class="subtitle">05 --- Our Team</p>
            <h4 class="title">Our Experts</h4>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="sigma_team team-5">
                    <div class="sigma_team-thumb">
                        <img src="{{ asset('template/assets/img/team/1.jpg')}}" alt="team">
                        <div class="sigma_team-info">
                            <ul class="sigma_sm">
                                <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                                <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                <li> <a href="#" class="trigger-team-socials"> <i class="fal fa-plus"></i> </a> </li>
                            </ul>
                            <h5>Henry G. Flock</h5>
                            <p>Head Counselor</p>
                        </div>
                    </div>
                    <div class="sigma_team-body">
                        <p class="mb-0">Camping describes a range of activities and approaches to outdoor accommodation. Survivalist campers set off with as little as possible to get by, whereas recreational vehicle travelers.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="sigma_team team-5">
                    <div class="sigma_team-thumb">
                        <img src="{{ asset('template/assets/img/team/2.jpg')}}" alt="team">
                        <div class="sigma_team-info">
                            <ul class="sigma_sm">
                                <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                                <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                <li> <a href="#" class="trigger-team-socials"> <i class="fal fa-plus"></i> </a> </li>
                            </ul>
                            <h5>Andrew B. Martini</h5>
                            <p>Program Director</p>
                        </div>
                    </div>
                    <div class="sigma_team-body">
                        <p class="mb-0">There is no universally held definition of what is and what is not camping. Just as with motels, which serve both recreational and business guests, the same campground may serve.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="sigma_team team-5">
                    <div class="sigma_team-thumb">
                        <img src="{{ asset('template/assets/img/team/3.jpg')}}" alt="team">
                        <div class="sigma_team-info">
                            <ul class="sigma_sm">
                                <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                                <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                                <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                                <li> <a href="#" class="trigger-team-socials"> <i class="fal fa-plus"></i> </a> </li>
                            </ul>
                            <h5>Kenne G. Patten</h5>
                            <p>Assistant Director</p>
                        </div>
                    </div>
                    <div class="sigma_team-body">
                        <p class="mb-0">The history of recreational camping is often traced back to Thomas Hiram Holding, a British travelling tailor, but it was actually first popularised in the UK on the river Thames By the 1880s.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Team End -->

<!-- Counter & Video Start -->
<div class="section secondary-overlay bg-center bg-cover pt-0" style="background-image: {{ asset('template/assets/img/bg1.jpg')}};">

    <div class="spacer white-bg spacer-lg d-none d-lg-block"></div>

    <div class="container">

        <div class="sigma_video-popup-wrap">
            <img src="{{ asset('template/assets/img/video.jpg')}}" alt="img">
            <a href="https://www.youtube.com/watch?v=KH1pcNUTa6U" class="sigma_video-popup bg-white popup-youtube popup-lg">
                <i class="far fa-play"></i>
            </a>
        </div>

        <div class="section section-padding pb-0">
            <div class="row">

                <div class="col-md-3">
                    <div class="sigma_counter">
                        <i class="flaticon-camping"></i>
                        <span> <b class="text-white counter" data-from="0" data-to="20000">0</b> <span class="custom-primary">+</span> </span>
                        <p class="custom-dark">Camping Done</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="sigma_counter">
                        <i class="flaticon-team"></i>
                        <span> <b class="text-white counter" data-from="0" data-to="200">0</b> <span class="custom-primary">+</span> </span>
                        <p class="custom-dark">Team Members</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="sigma_counter">
                        <i class="flaticon-rating"></i>
                        <span> <b class="text-white counter" data-from="0" data-to="10089">0</b> <span class="custom-primary">+</span> </span>
                        <p class="custom-dark">Satisfied Clients</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="sigma_counter">
                        <i class="flaticon-award"></i>
                        <span> <b class="text-white counter" data-from="0" data-to="550">0</b> <span class="custom-primary">+</span> </span>
                        <p class="custom-dark">Awards Achieved</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Counter & Video End -->

<!-- Testimonials Start -->
<div class="section light-bg overflow-hidden pb-0">
    <img src="{{ asset('template/assets/img/about2.jpg')}}" class="absolute-img" alt="img">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-4">
                <div class="sigma_box sigma_testimonial mb-0">
                    <div class="section-title text-left">
                        <p class="subtitle">06 --- Feedback</p>
                        <h4 class="title">Client Testimonials</h4>
                    </div>

                    <div class="sigma_testimonial-slider">
                        <div class="sigma_testimonial-inner">
                            <p>There is no universally held definition of what is and what is not camping. Just as with motels, which serve both recreational and business guests, the same campground.</p>
                            <div class="sigma_testimonial-author">
                                <img src="{{ asset('template/assets/img/team/1.jpg')}}" alt="img">
                                <div class="sigma_testimonial-author-inner">
                                    <h6>Ros David.</h6>
                                    <cite class="custom-primary">Founder</cite>
                                </div>
                            </div>
                        </div>
                        <div class="sigma_testimonial-inner">
                            <p>Camping describes a range of activities and approaches to outdoor accommodation Survivalist campers set off with as little as possible to get by recreational vehicle.</p>
                            <div class="sigma_testimonial-author">
                                <img src="{{ asset('template/assets/img/team/2.jpg')}}" alt="img">
                                <div class="sigma_testimonial-author-inner">
                                    <h6>Rosalina D.</h6>
                                    <cite class="custom-primary">Ceo</cite>
                                </div>
                            </div>
                        </div>
                        <div class="sigma_testimonial-inner">
                            <p>The history of recreational camping is often traced back to Thomas Hiram Holding, a British travelling tailor, but it was actually first popularised in the UK on the river Thames.</p>
                            <div class="sigma_testimonial-author">
                                <img src="{{ asset('template/assets/img/team/3.jpg')}}" alt="img">
                                <div class="sigma_testimonial-author-inner">
                                    <h6>Danial kim</h6>
                                    <cite class="custom-primary">Manager</cite>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonials End -->

<!-- Form Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title text-left">
                    <p class="subtitle">07 --- Call To Action</p>
                    <h4 class="title">The Unparalleled Experience We Have.</h4>
                    <p>Possibly the first commercial camping ground in the world was Cunningham's camp, near Douglas, Isle of Man, which opened in 1894 In 1906 the Association of Cycle Campers opened its first own camping site.</p>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="sigma_counter">
                            <span> <b class="counter" data-from="0" data-to="2000">0</b> <span class="custom-primary">+</span> </span>
                            <p>Adventure Done</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sigma_counter">
                            <span> <b class="counter" data-from="0" data-to="100">0</b> <span class="custom-primary">+</span> </span>
                            <p>Team Members</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sigma_box cta_form">
                    <div class="circles">
                        <div class="circle-2"></div>
                        <div class="circle-3"></div>
                        <div class="circle-4"></div>
                    </div>
                    <h5>Get a Full Quote</h5>
                    <form action="https://slidesigma.com/themes/html/campa/index.html" method="post">
                        <div class="form-group">
                            <input type="text" placeholder="Full Name" class="form-control" name="fname" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Email Address" class="form-control" name="email_addr" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Subject" class="form-control" name="subj" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Message" class="form-control" name="msg" value="">
                        </div>
                        <button type="submit" class="sigma_btn-custom secondary" name="button">Get A Quote</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->

<!-- Blog Start -->
<div class="section section-padding pt-0">
    <div class="container">

        <div class="section-title text-left">
            <p class="subtitle">08 --- News</p>
            <h4 class="title">Blog Insight</h4>
        </div>

        <div class="row">

            <!-- Article Start -->
            <div class="col-lg-4 col-md-6">
                <article class="sigma_post">
                    <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                            <img src="{{ asset('template/assets/img/blog/1.jpg')}}" alt="post">
                        </a>
                        <a class="sigma_post-category" href="#">Camping</a>
                    </div>
                    <div class="sigma_post-body">
                        <h5> <a href="blog-details.html">All we've discovered by now, the world can change</a> </h5>
                        <p>In the US, camping may be traced to William Henry Harrison Murray 1869 publication of Camp-Life.</p>
                        <div class="sigma_post-footer">
                            <a href="#">November 28, 2021</a>
                            <a href="#">By: <b>Admin</b> </a>
                        </div>
                    </div>
                </article>
            </div>
            <!-- Article End -->

            <!-- Article Start -->
            <div class="col-lg-4 col-md-6">
                <article class="sigma_post">
                    <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                            <img src="{{ asset('template/assets/img/blog/2.jpg')}}" alt="post">
                        </a>
                        <a class="sigma_post-category" href="#">Adventure</a>
                    </div>
                    <div class="sigma_post-body">
                        <h5> <a href="blog-details.html">We teach your kids that responsibility is fun</a> </h5>
                        <p>The International Federation of Camping Clubs Federation Internationale de Camping et de Caravanning.</p>
                        <div class="sigma_post-footer">
                            <a href="#">November 28, 2021</a>
                            <a href="#">By: <b>Admin</b> </a>
                        </div>
                    </div>
                </article>
            </div>
            <!-- Article End -->

            <!-- Article Start -->
            <div class="col-lg-4 col-md-6">
                <article class="sigma_post">
                    <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                            <img src="{{ asset('template/assets/img/blog/3.jpg')}}" alt="post">
                        </a>
                        <a class="sigma_post-category" href="#">Mountaning</a>
                    </div>
                    <div class="sigma_post-body">
                        <h5> <a href="blog-details.html">The widest range of activities for everyone</a> </h5>
                        <p>Different types camping may be named after their form of transportation such as with Canoe camping car camping.</p>
                        <div class="sigma_post-footer">
                            <a href="#">November 28, 2021</a>
                            <a href="#">By: <b>Admin</b> </a>
                        </div>
                    </div>
                </article>
            </div>
            <!-- Article End -->

        </div>

    </div>
</div>
<!-- Blog End -->

<!-- Clients Start -->
<div class="section border-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="sigma_client">
                    <img src="{{ asset('template/assets/img/clients/1.png')}}" alt="client">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="sigma_client">
                    <img src="{{ asset('template/assets/img/clients/2.png')}}" alt="client">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="sigma_client">
                    <img src="{{ asset('template/assets/img/clients/3.png')}}" alt="client">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="sigma_client">
                    <img src="{{ asset('template/assets/img/clients/4.png')}}" alt="client">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clients End -->

<!-- partial:partia/__footer.html -->


{% endblock %}